/* Main */
.img-cont{
	float: left;
	margin-top: 50px;
}
.img-cont:after{
	display: block;
	content: '';
	clear: both;
}
.img-cont .photo{
	width: 300px;
	height: 320px;
	background-size: cover;
}
.img-cont h1{
	font-size: 18px;
	color: #0de4d8;
	padding: 10px 0 5px;
}
.img-cont p{
	font-size: 14px;
	line-height: 1.266;
}
.soc-button{
	display: block;
	width: 31px;
	height: 31px;
	float: left;
	background: url() no-repeat;
	background-size: cover;
	margin: 20px 20px 0 0;
}

.blockquote{
	position: relative;
	float: right;
	margin-top: 50px;
	width: 859px;
	height: 320px;
	text-align: center;
}
.blockquote:before{
	content:'';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.blockquote:after{
	display: block;
	content: '';
	clear: both;
}
.blockquote blockquote{
	display: inline-block;
	width: 600px;
	position: relative;
	margin: 0 auto;
	font-size: 14px;
	font-style: italic;
	line-height: 1.429;
	vertical-align: middle;
	text-align: left;
}
.blockquote blockquote:before{
	display: block;
	content: '';
	background: url(../img/quotes.png) no-repeat;
	width: 27px;
	height: 17px;
	position: absolute;
	left: -45px;
	top: -13px;
}
.blockquote blockquote:after{
	display: block;
	content: '';
	background: url(../img/quotes-2.png) no-repeat;
	width: 27px;
	height: 17px;
	position: absolute;
	left: 102%;
	top: 97%;
}

.nastavnik:after{
	display: block;
	content: '';
	clear: both;
}
.opisanie{
	float: left;
	width: 900px;
	padding: 35px 0 50px;
	font-size: 18px;
	line-height: 1.222;
	font-weight: 300;
}

/* News */
.last-news h2{
	font-size: 28px;
}
.last-news .fuuu{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.045em;
	padding-bottom: 30px;
}
.news-grid{
	padding: 35px 0 40px;
}
.news-grid .grid-item{
	display: inline-block;
	width: 360px;
	margin: 0 80px 25px 0;
	vertical-align: top;
}
.news-grid .grid-item h3{
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.045em;
}
.news-grid .grid-item time{
	font-size: 14px;
	line-height: 1.929;
}
.news-grid a:hover{
	text-decoration: underline;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1210px) {
	
	.img-cont {
		margin-top: 40px;
	}
	.img-cont .photo {
		width: 255px;
		height: 280px;
	}
	.blockquote {
		margin-top: 40px;
		width: 665px;
		height: 280px;
	}
	.blockquote blockquote {
		width: 400px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.news-grid article {
		width: 300px;
		margin: 0 55px 25px 0;
	}
	.blockquote {
		width: 465px;
	}
	.blockquote blockquote {
		width: 290px;
	}
	.opisanie {
		float: none;
		width: 100%;
		clear: both;
	}
	.last-news h2 {
		font-size: 21px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.img-cont .photo {
		width: 215px;
		height: 230px;
	}
	.img-cont h1 {
		font-size: 14px;
	}
	.img-cont p {
		font-size: 12px;
	}
	.soc-button {
		margin: 10px 15px 0 0;
	}
	.blockquote {
		width: 215px;
		height: 230px;
	}
	.blockquote blockquote {
		font-size: 10px;
		width: 140px;
	}
	.blockquote blockquote:before{
		background-size: contain;
		width: 20px;
		height: 10px;
		left: -25px;
		top: -7px;
	}
	.blockquote blockquote:after{
		background-size: contain;
		width: 20px;
		height: 10px;
		left: 102%;
		top: 98%;
	}
	.opisanie {
		padding: 20px 0 30px;
		font-size: 12px;
	}
	.last-news h2 {
		font-size: 18px;
	}
	.news-grid {
		padding: 15px 0 20px;
	}
	.news-grid article h3 a {
		font-size: 14px;
	}
	.news-grid article {
		width: 200px;
		margin: 0 25px 25px 0;
	}
	.news-grid article:nth-of-type(2n){
		margin: 0 0 25px 0;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.img-cont .photo {
		width: 140px;
		height: 180px;
	}
	.img-cont h1 {
		font-size: 12px;
	}
	.img-cont p {
		font-size: 10px;
	}
	.blockquote {
		width: 138px;
		height: 180px;
	}
	.blockquote blockquote {
		font-size: 8px;
		width: 125px;
		max-height: 180px;
		margin: 0;
	}
	.blockquote blockquote:before{
		left: -20px;
	}
	.blockquote blockquote:after{
		left: 100%;
	}
	.news-grid article {
		width: 300px;
		margin: 0 0 15px 0;
	}
	.news-grid {
		padding: 14px 0 0px;
	}
	.news-grid .grid-item time {
		font-size: 12px;
	}
	
}