.contacts{
	padding: 50px 0 60px;
}
.contacts p{
	font-weight: 300;
	font-size: 18px;
}
.contacts h1{
	font-size: 28px;
	padding: 0 0 20px;
}
.contacts h2{
	font-size: 21px;
	padding-bottom: 10px;
}
.client-area,
.pochta,
.soc-cont{
	float: left;
	margin-right: 150px;
	width: 220px;
	line-height: 1.4;
}
.first-cont:after{
	display: block;
	content: '';
	clear: both;
}
.pochta p{
	color: #0de4d8;
	font-weight: bold;
}
.soc-cont a{
	text-decoration: underline;
	font-weight: 300;
}
.go-speek{
	padding: 40px 0 45px;
}
.go-speek a.button{
	display: block;
	border-radius: 10px;
	background-image: -moz-linear-gradient( 98deg, rgb(15,206,195) 0%, rgb(13,228,216) 100%);
	background-image: -webkit-linear-gradient( 98deg, rgb(15,206,195) 0%, rgb(13,228,216) 100%);
	background-image: -ms-linear-gradient( 98deg, rgb(15,206,195) 0%, rgb(13,228,216) 100%);
	background-image: linear-gradient( 8deg, rgb(15,206,195) 0%, rgb(13,228,216) 100%);
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.16);
	width: 73px;
	height: 20px;
	font-size: 18px;
	color: #fff;
	padding: 8px 30px;
	font-weight: 300;
	margin-top: 10px;
}

.address h2{
	font-size: 21px;
}
.address p{
	line-height: 1.3;
}
.biruza{
	color: #0de4d8;
	font-weight: bold;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1210px) {
	
	.client-area,
	.pochta,
	.soc-cont{
		margin-right: 130px;
	}
	.soc-cont{
		margin-right: 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.client-area,
	.pochta{
		margin-right: 50px;
	}
	.pochta{
		width: 180px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.contacts{
		padding: 30px 0 35px;
	}
	.contacts h1 {
		font-size: 21px;
		padding: 0 0 30px;
	}
	.contacts h2 {
		font-size: 16px;
		padding-bottom: 5px;
	}
	.client-area,
	.pochta,
	.soc-cont{
		margin-bottom: 20px;
	}
	.contacts p {
		font-size: 14px;
	}
	.go-speek {
		padding: 10px 0 35px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.contacts h1 {
		padding: 0 0 20px;
	}
	.client-area,
	.pochta,
	.soc-cont{
		margin-right: 0;
		width: 100%;
	}
	.soc-cont p{
		width: 75%;
	}
	.go-speek a.button {
		margin-top: 15px;
	}
	.go-speek {
		padding: 20px 0 45px;
	}
	
}