/* Main */
.main{
	position: relative;
	padding: 0;
}
.main:after{
	display: block;
	content: '';
	clear: both;
}
.left{
	float: left;
	width: 920px;
}
.left h1{
	font-size: 36px;
	padding: 50px 0 38px;
	font-weight: 300;
	letter-spacing: 0.075em;
}

/* Aside */
.aside{
	float: right;
	width: 240px;
	padding: 125px 0 0 0;
}
.aside .link-to-site{
	display: block;
	text-decoration: underline;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	margin-bottom: 40px;
}
.aside h2{
	text-align: right;
	font-size: 22px;
}
.desing-cont{
	padding-top: 40px;
	float: right;
	width: 180px;
	line-height: 1.3;
	font-size: 18px;
	font-weight: 300;
}
.desing-cont p{
	margin: 20px 0
}
.desing-cont p:first-of-type{
	margin: 0 0 20px;
}
#tabs_container .share-please{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	vertical-align: bottom;
	margin: 20px 0 20px;
}
.ya-share2{
	display: inline-block;
	margin: 10px 0 20px 5px;
}

/* Предопределённые стили */
blockquote{
	display: inline-block;
	position: relative;
	padding: 0 68px;
	margin: 20px 0;
	font-size: 18px;
	font-style: italic;
	line-height: 1.429;
}
blockquote:before{
	display: block;
	content: '';
	background: url(../img/quotes.png) no-repeat;
	width: 27px;
	height: 17px;
	position: absolute;
	left: 30px;
	top: -8px;
}
blockquote:after{
	display: block;
	content: '';
	background: url(../img/quotes-2.png) no-repeat;
	width: 27px;
	height: 17px;
	position: absolute;
	right: 30px;
	bottom: -8px;
}

/* Кнопка "Давайте" */
.go-speek{
	padding: 30px 0 35px;
	font-weight: 300;
}
.go-speek a.button{
	display: block;
	border-radius: 10px;
	background-image: -moz-linear-gradient( 98deg, rgb(15,206,195) 0%, rgb(13,228,216) 100%);
	background-image: -webkit-linear-gradient( 98deg, rgb(15,206,195) 0%, rgb(13,228,216) 100%);
	background-image: -ms-linear-gradient( 98deg, rgb(15,206,195) 0%, rgb(13,228,216) 100%);
	background-image: linear-gradient( 8deg, rgb(15,206,195) 0%, rgb(13,228,216) 100%);
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.16);
	width: 73px;
	height: 20px;
	font-size: 18px;
	color: #fff;
	padding: 8px 30px;
	font-weight: 300;
	margin-top: 10px;
}

.content p{
	margin: 20px 0;
	line-height: 1.3;
	font-weight: 300;
	font-size: 18px;
}
.content h2{
	font-size: 24px;
	margin-bottom: 20px;
}
.content h3{
	font-size: 21px;
}
.content h4{
	font-size: 18px;
}
.content p:first-of-type{
	margin: 0 0 20px;
}
.nav-links{
	padding: 40px 0 30px;
	position: relative;
	font-weight: 300;
}
.nav-links:after{
	display: block;
	content: '';
	clear: both;
}
.nav-links a{
	position: relative;
	display: inline-block;
	position: absolute;
}
.nav-links a:hover{
	text-decoration: underline;
}
.nav-links a[rel="prev"] {
	left: 20%;
	top: 40px;
}
.nav-links a[rel="next"] {
	right: 20%;
	top: 40px;
}
.nav-links a[rel="prev"]:before{
	display: inline-block;
	content: '<';
	padding-right: 10px;
}
.nav-links a[rel="next"]:after{
	display: inline-block;
	content: '>';
	padding-left: 10px;
}
#tabs1,
#tabs2,
#tabs3{
	width: 100%;
}
#tabs1 > ul,
#tabs2 > ul,
#tabs3 > ul{
	padding: 20px 0;
}
#tabs1 > ul li,
#tabs2 > ul li,
#tabs3 > ul li{
	display: block;
	font-size: 18px;
	line-height: 1.9;
	font-weight: 300;
	padding-left: 22px;
	position: relative;
}
#tabs1 > ul li:before,
#tabs2 > ul li:before,
#tabs3 > ul li:before{
	display: block;
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #0de4d8;
	position: absolute;
	left: 0;
	top: 13px;
}

/* Tabolous */
#tabs a:active, #tabs a:focus {
	outline: expression(hideFocus='true');
}

#tabs>ul>li {
	float: left;
	margin-right: 50px;
}

#tabs>ul>li a {
	display: block;
	font-size: 18px;
	transition: all 0.25s ease;
}

#tabs>ul>li a:hover {
	color: #0de4d8;
}

#tabs_container {
	width: 100%;
	padding: 40px 0 40px;
	overflow: hidden;
	position: relative;
	background: white;
}

.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: -1;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	z-index: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.tabulous_active {
	background: white !important;
	color: #0de4d8 !important;
	font-weight: 700;
}

.tabulousclear {
	display: block;
	clear: both;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1210px) {
	
	.left{
		width: 720px;
	}
	.aside{
		width: 200px;
		padding: 128px 0 0 0;
	}
	.aside .link-to-site {
		font-size: 14px;
		margin-bottom: 43px;
	}
	.aside h2 {
		font-size: 18px;
	}
	.desing-cont {
		width: 160px;
		font-size: 14px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.left{
		width: 100%;
		float: none;
	}
	.aside{
		display: none;
	}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.left h1 {
		font-size: 24px;
		padding: 30px 0 25px;
	}
	#tabs>ul>li a {
		font-size: 16px;
	}
	.nav-links a[rel="prev"] {
		left: 0%;
		top: 30px;
	}
	.nav-links a[rel="next"] {
		right: 0%;
		top: 30px;
	}
	.content h2 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.content p:first-of-type {
		margin: 0 0 15px;
	}
	.content p {
		margin: 15px 0;
		font-size: 16px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.left h1 {
		font-size: 21px;
		padding: 25px 0 25px;
	}
	#tabs>ul>li a {
		font-size: 14px;
	}
	#tabs>ul>li {
		margin-right: 42px;
	}
	#tabs>ul>li:last-of-type{
		margin-right: 0;
	}
	.content h2 {
		font-size: 16px;
	}
	.content p {
		font-size: 14px;
	}
	.go-speek a.button {
		width: 66px;
		height: 17px;
		font-size: 16px;
	}
	.nav-links{
		padding: 30px 0 20px;
		position: relative;
	}
	.nav-links a{
		font-size: 12px;
	}
	
}