html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
	letter-spacing: 0.025em;
	color: #191919;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/*  */
body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.0;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
	background-color: #fff;
}
.hidden {
	display: none;
}

/* Basic */
.center{
	position: relative;
	width: 1180px;
	margin: 0 auto;
}
.main-header{
	width: 100%;
	background-color: #08080b;
	height: 160px;
	color: #fefefe;
}

/* Header */
.main-nav{
	margin: 15px 0 0 55px;
	float: left;
}
.main-nav li{
	font-size: 14px;
	line-height: 1.2;
	display: inline-block;
	padding-right: 50px;
}
.main-nav li a{
	display: block;
	color: #fefefe;
}
.main-nav li a:after{
	display: block;
	content: '';
	width: 0;
	height: 2px;
	background-color: #0de4d8;
	margin-top: 2px;
	transition: all 0.3s ease;
}
.main-nav li a:hover:after{
	width: 100%;
}

.phone-number{
	margin: 15px 55px 0 0;
	float: right;
	color: #0de4d8;
	line-height: 1.2;
}

.bot-nav{
	clear: both;
}
/* Button menu */
.logo-main{
	background: url(../img/logo_reason.png) no-repeat;
	display: block;
	width: 55px;
	height: 55px;
	margin: 38px 0 0 55px;
	float: left;
}
.menu-but{
	display: block;
	margin: 45px 55px 0 0;
	float: right;
	z-index: 100;
	font-size: 24px;
	line-height: 48px;
	cursor: pointer;
	color: #fefefe;
}
.menu-close{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	left: -100%;
	z-index: 25;
	transition: all 0.3s ease;
	cursor: pointer;
}

/* Buter */
.cmn-toggle-switch {
	position: relative;
	overflow: hidden;
	width: 45px;
	height: 45px;
	cursor: pointer;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
	float: right;
	margin-left: 20px;
	z-index: 100;
}
.cmn-toggle-switch:focus {
	outline: none;
}
.cmn-toggle-switch span {
	display: block;
	position: absolute;
	top: 50%;
	left: 5%;
	right: 5%;
	height: 7%;
	background: #0de4d8;
}
.cmn-toggle-switch span:before,
.cmn-toggle-switch span:after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0de4d8;
	content: "";
}
.cmn-toggle-switch span:before {
	top: -400%;
}
.cmn-toggle-switch span:after {
	bottom: -400%;
}
/* Buter animation */
.cmn-toggle-switch__htx span:before,
.cmn-toggle-switch__htx span:after {
	-webkit-transition-duration: 0.3s, 0.3s;
	transition-duration: 0.3s, 0.3s;
	-webkit-transition-delay: 0.3s, 0s;
	transition-delay: 0.3s, 0s;
}
.cmn-toggle-switch__htx span:before {
	-webkit-transition-property: top, -webkit-transform;
	transition-property: top, transform;
}
.cmn-toggle-switch__htx span:after {
	-webkit-transition-property: bottom, -webkit-transform;
	transition-property: bottom, transform;
}

/* активное состояние, т.е. меню открыто */
input:checked + label .cmn-toggle-switch__htx span {
	background: none;
}

input:checked + label .cmn-toggle-switch__htx span:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

input:checked + label .cmn-toggle-switch__htx span:after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input:checked + label .cmn-toggle-switch__htx span:before,
input:checked + label .cmn-toggle-switch__htx span:after {
	-webkit-transition-delay: 0s, 0.3s;
	transition-delay: 0s, 0.3s;
}

.bot-nav input{
	display: none;
}
input:checked + .menu-but + .menu-close{
	left: 0;
}
input:checked + .menu-but + label + .side-menu{
	right: 0;
}

/* Side-menu */
.side-menu{
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100%;
	background-color: #fefefe;
	transition: all 0.3s ease;
	z-index: 50;
}
.side-menu ul{
	height: 100%;
	width: 100%;
	margin-top: 70%;
}
.side-menu li{
	display: block;
	margin-bottom: 35px;
}
.side-menu li:nth-of-type(5),
.side-menu li:nth-of-type(6),
.side-menu li:nth-of-type(7){
	display: none;
}
.side-menu li a{
	font-size: 30px;
	color: rgb(26, 26, 26);
	line-height: 1.2;
	margin-left: 25%;
	transition: all 0.2s ease;
	position: relative;
	z-index: 5;
}
.side-menu li a:before{
	display: inline-block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #0de4d8;
	z-index: -1;
	transition: all 0.3s ease;
}
.side-menu li a:hover:before{
	width: 100%;
}
/* Fooooter */
.main-footer{
	background-color: #08080b;
	width: 100%;
	height: 140px;
}
.main-footer p {
	color: #fefefe;
	font-size: 16px;
	line-height: 1.2;
}
.main-footer .license{
	float: left;
	padding-top: 40px;
}
.main-footer .address{
	float: left;
	padding: 40px 0 0 200px;
}

/* Media */
@media only screen and (max-width : 1920px) {
	.content-main {
		margin: 100px 0 60px;
	}
}
@media only screen and (max-width : 1600px) {
	.side-menu li a{
		font-size: 24px;
	}
}

@media only screen and (max-width : 1210px) {
	
	.center{
		width: 920px;
	}

}

@media only screen and (max-width : 992px) {

	.center{
		width: 720px;
	}
	.main-footer .address{
		padding: 40px 0 0 100px;
	}

}

@media only screen and (max-width : 768px) {

	.center{
		width: 430px;
	}
	.main-footer .license{
		font-size: 10px;
	}
	.main-footer .address{
		font-size: 10px;
		padding: 40px 0 0 74px;
	}

}

@media only screen and (max-width : 590px) {

	.main-header {
		height: 45px;
	}

	.main-nav{
		display: none;
	}

	.phone-number {
		position: absolute;
		margin: 0;
		top: 17px;
		right: 120px;
		font-size: 12px;
	}
	.logo-main {
		background-size: cover;
		width: 30px;
		height: 30px;
		margin: 7px 0 0 25px;
	}
	.menu-but {
		margin: 14px 25px 0 0;
		font-size: 12px;
		line-height: 20px;
	}
	.cmn-toggle-switch {
		width: 20px;
		height: 20px;
		margin-left: 10px;
	}
	.cmn-toggle-switch span {
		top: 8px;
		left: 0;
		right: 0;
		height: 3px;
	}
	.cmn-toggle-switch span:before {
		top: -6px;
	}
	.cmn-toggle-switch span:after {
		bottom: -6px;
	}
	.side-menu ul{
		margin-top: 50px;
	}
	.side-menu li{
		margin-bottom: 15px;
	}
	.side-menu li a{
		font-size: 14px;
		line-height: 1;
		margin-left: 25%;
	}
	.side-menu{
		right: -200px;
		width: 200px;
	}
	.side-menu li:nth-of-type(5),
	.side-menu li:nth-of-type(6),
	.side-menu li:nth-of-type(7){
		display: block;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.center{
		width: 300px;
	}
	.main-footer .license{
		width: 100px;
		padding-top: 30px;
	}
	.main-footer .address{
		padding: 30px 0 0 20px;
	}

}

@media only screen and (max-width : 420px) {
	.side-menu ul{
		margin-top: 100px;
	}
	.main-footer .license {
		padding-top: 38px;
	}
	.main-footer .address {
		padding: 38px 0 0 20px;
	}
}
@media only screen and (max-width : 320px) {
	.side-menu ul{
		margin-top: 70px;
	}
}