/* Main */
.uslugi{
	padding: 50px 0 0;
}
.nav{
	padding-bottom: 30px;
}
.nav li{
	display: inline-block;
	margin-right: 100px;
	font-weight: bold;
	font-size: 18px;
}
.nav li a{
	display: block;
	transition: all 0.3s ease;
}
.nav li a:hover{
	color: #0de4d8;
}
.nav h1{
	color: #0de4d8;
	font-size: 18px;
}
.nav h2{
	font-size: 18px;
}
.uslugi p{
	font-size: 18px;
	font-weight: 300;
}
.tabs_container ul li{
	display: block;
	font-size: 18px;
	line-height: 1.9;
	font-weight: 300;
	padding-left: 22px;
	position: relative;
}
.tabs_container ul li:before{
	display: block;
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #0de4d8;
	position: absolute;
	left: 0;
	top: 13px;
}
.tabs_container h3{
	font-size: 24px;
	line-height: 1.125;
	padding: 50px 0 30px;
}
/* Grid */
.grid{
	padding: 0 0 60px;
}
.grid:after{
	display: block;
	content: '';
	clear: both;
}
.grid-item{
	float: left;
	width: 18%;
	margin: 0 7% 0 0;
}
.img-cont{
	display: block;
	position: relative;
	height: 160px;
	margin-bottom: 25px;
	transition: all 0.25s ease;
	background-size: cover;
}
.img-cont:hover{
	opacity: 0.8;
}
.grid-item h4{
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
}
.grid-item h5{
	font-size: 14px;
	line-height: 1.291;
	font-weight: 300;
	letter-spacing: 0.075em;
}

.grid-item a:hover{
	text-decoration: underline;
}

/* Arrow */
.arrow-block{
	margin-top: 15px;
}
.arrow-block div{
	float: left;
}
.arrow-stvol{
	margin-top: 4px;
	height: 2px;
	width: 0%;
	background-color: #00e4d8;
	transition: all 0.4s ease-out;
}
.arrow-head{
	background: url(../img/arrow.png) no-repeat;
	width: 41px;
	height: 10px;
}
.grid-item:hover .img-cont ~ .arrow-block .arrow-stvol{
	width: 80%;
}